<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

</head>
<body id="page-top">
<script th:if="${feedback!=null}" th:inline="javascript">
    /*<![CDATA[*/

    let feedback = /*[[${feedback}]]*/ 'default';

    /*]]>*/
    if (feedback === "courseAdded") {
        alert("Course added successfully!");
    } else if (feedback === "instructorAdded") {
        alert("Instructor added successfully!");
    } else if (feedback === "courseDeleted") {
        alert("Course deleted successfully!");
    }
    window.location.href = "/admin/courses";

</script>
<script>
    function confirmDelete(courseId) {
        if (confirm("Are you sure you want to delete course with id " + courseId + "?")) {
            window.location.href = "/admin/courses/delete?courseId=" + courseId;
        } else {

        }

    }

</script>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">CSCI-5308 <sup>2</sup></div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <div class="sidebar-heading">Home</div>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
            <a class="nav-link" href="/admin/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <div class="sidebar-heading"><i class="fas fa-book"></i><sub><i class="fas fa-cog"></i></sub>Course Management
        </div>
        <li class="nav-item active">
            <a class="nav-link" href="/admin/courses">
                <i class="fas fa-fw fa-book-open"></i>
                <span>Courses</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading"><i class="fas fa-users-cog"></i>&nbsp;User Management</div>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-users"></i>
                <span>Users</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Logout</span></a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Nav Item - Alerts -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"
                           id="userDropdown" role="button">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text='${user.getFirstName() + " " + user.getLastName()}'></span>
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <!--
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                        -->
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h4 text-gray-800">Welcome <span
                            th:text='${user.getFirstName()+ " "+ user.getLastName()}'></span></h1>
                </div>
                <hr class="text-gray-800">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            Courses
                        </div>
                        <div class="card-body w-100">
                            <div class="row">
                                <a class="btn btn-outline-success mb-2" href="/admin/courses/add">
                                    <i class="fas fa-book"></i><sup><i class="fa fa-plus"></i></sup>
                                    Add a course
                                </a>
                            </div>
                            <div class="row">
                                <div class="table">
                                    <table class="table table-responsive table-hover w-100 table-bordered">
                                        <thead class="thead-dark">
                                        <tr>
                                            <td>
                                                Course id
                                            </td>
                                            <td>
                                                Course name
                                            </td>
                                            <td>
                                                Instructor
                                            </td>
                                            <td>
                                                Edit
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="course_i, iterstat: ${courses}">
                                            <td th:text="${course_i.getId()}"></td>
                                            <td th:text="${course_i.getName()}"></td>
                                            <td
                                                    th:if="${instructorEntities[iterstat.index].getFirstName()==null}">
                                                <span>Not Assigned</span>
                                            </td>
                                            <td
                                                    th:if="${instructorEntities[iterstat.index].getFirstName()!=null}">
											<span
                                                    th:text='${instructorEntities[iterstat.index].getFirstName()  + " " + instructorEntities[iterstat.index].getLastName()}'></span>
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary"
                                                   th:href='${"/admin/courses/edit?courseId="+course_i.getId()}'>
                                                    <i class="fa fa-edit"></i>&nbsp;
                                                    Edit
                                                </a>
                                                <a class="btn btn-outline-danger"
                                                   href="#"
                                                   th:attr='onclick=${"confirmDelete(" + course_i.getId() + ");"}'
                                                >
                                                    <i class="fa fa-trash-alt"></i>&nbsp;
                                                    Remove
                                                </a>
                                            </td>

                                        </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
