<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">
<div id="wrapper">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-book"></i>
			</div>
			<div class="sidebar-brand-text mx-3">CSCI-5308 <sup>2</sup></div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider my-0">
		<div class="sidebar-heading">Home</div>
		<!-- Nav Item - Dashboard -->
		<li class="nav-item ">
			<a class="nav-link" href="#">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<div class="sidebar-heading"><i class="fas fa-book"></i><sub><i class="fas fa-cog"></i></sub>Course Management</div>
		<li class="nav-item active">
			<a class="nav-link" href="/admin/courses">
				<i class="fas fa-fw fa-book-open"></i>
				<span>Courses</span></a>
		</li>
		<hr class="sidebar-divider">
		<div class="sidebar-heading"><i class="fas fa-users-cog"></i>&nbsp;User Management</div>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="fas fa-fw fa-users"></i>
				<span>Users</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">
				<i class="fas fa-fw fa-sign-out-alt"></i>
				<span>Logout</span></a>
		</li>

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Nav Item - Alerts -->
				<ul class="navbar-nav ml-auto">

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							 data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small"
										th:text='${user.getFirstName() + " " + user.getLastName()}'></span>
							<i class="fa fa-user-circle"></i>
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="userDropdown">
							<a class="dropdown-item" href="#">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								Profile
							</a>
							<a class="dropdown-item" href="#">
								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
								Settings
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Logout
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<div class="container-fluid">
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
				</div>
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h4 text-gray-800">Welcome <span
						th:text='${user.getFirstName()+ " "+ user.getLastName()}'></span></h1>
				</div>
				<hr class="text-gray-800">
				<div class="row">
					<div class="card">
						<div class="card-header">
							Courses
						</div>
						<div class="card-body w-100">


							<div class="form-group">
								<form action="/admin/courses/add" method="POST">
									<div class="form-group">
										<label for="courseName">Course Name:</label>
										<input id="courseName" name="courseName" class="form-control">
									</div>
									<div class="form-row">
										<label for="inst-else">Select Instructor:</label>
										<select class="form-control" id="inst-else" name="instructorId">
											<option value="-1">------- SELECT Instructor -------</option>
											<div th:each="user_i, iterstat: ${allUsers}">
												<option th:value="${user_i.getId()}">
													<span th:text='${user_i.getFirstName() + " " + user_i.getLastName()}'></span>
												</option>
											</div>
										</select>
									</div>
									<div class="form-row mt-3">
										<button class="btn btn-outline-success w-100">Add Course</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
