image: java:8-jdk

stages:
  - build
  - test

before_script:
  #  - echo `pwd` # debug
  #  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE" # debug
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  script:
    - ./gradlew assemble -
  artifacts:
    paths:
      - build/libs/*.jar
  only:
    - master

test:
  stage: test
  script:
    - ./gradlew clean test -info