<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">CSCI-5308 <sup>2</sup></div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <div class="sidebar-heading">Home</div>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/instructor/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
            <a class="nav-link" href="/instructor/questions">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Questions</span>
            </a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Nav Item - Alerts -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"
                           id="userDropdown" role="button">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text='${userEntity.getFirstName() + " " + userEntity.getLastName()}'></span>
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h4 text-gray-800">Welcome <span
                            th:text='${userEntity.getFirstName()+ " "+ userEntity.getLastName()}'></span></h1>
                </div>
                <hr class="text-gray-800">
                <div class="row">
                    <div class="card" style="width:800px;">
                        <div class="card-header">
                            <h1 class="h4 text-gray-800">Add answers </h1>
                        </div>
                        <div class="card-body w-100" id="questionDiv">
                            <form method="post" th:action="@{/instructor/question/saveQuesAnsData}"
                                  th:object="${question}">
                                <h3>Add answers for the question</h3>
                                <label style="font-weight: bold;"><br/><span th:text="${question.questionTitle}"></span></label>
                                <br/>
                                <label style="font-weight: bold;"><br/><span th:text="${question.questionText}"></span></label>
                                <br/>
                                <div th:if="${question.questionTypeId}=='1'">
                                    <input class="form-control" name="answer" size="2" style="width:200px"
                                           type="number">
                                </div>

                                <div th:if="${question.questionTypeId}!='1' AND ${question.questionTypeId}!='4'">
                                    <tr th:each="text, storedAs : *{options}">
                                        <div class="row">
                                            <div class="col">
                                                <td>Display text: <input class="form-control" style="width:500px"
                                                                         th:field="*{options[__${storedAs.index}__].option}"
                                                                         type="text"/></td>
                                            </div>
                                            <div class="col">
                                                <td>Stored as:<input class="form-control" style="width:100px"
                                                                     th:field="*{options[__${storedAs.index}__].value}"
                                                                     type="number"/><br></td>
                                            </div>
                                        </div>
                                    </tr>
                                    </tr>
                                    <button class="btn-success" name="addRow" type="submit">Add answers</button>
                                </div>
                                <div th:if="${question.questionTypeId}=='4'">
                                    <textarea cols="50" id="freeText" rows="4"></textarea>
                                </div>
                                <input th:field="*{questionText}" type="hidden">
                                <input th:field="*{questionTitle}" type="hidden">
                                <input th:field="*{questionTypeId}" type="hidden">
                                <br/>
                                <div class="row">
                                    <div class="col">
                                        <input class="btn-success" type="submit" value="SAVE"/>
                                    </div>
                                    <div class="col">
                                        <input class="btn-success" onclick='javascript:window.history.back()'
                                               type='button' value='Back'/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
