<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Manage Survey</title>
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-book"></i>
			</div>
			<div class="sidebar-brand-text mx-3">CSCI-5308 <sup>2</sup></div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider my-0">
		<div class="sidebar-heading">Home</div>
		<!-- Nav Item - Dashboard -->
		<li class="nav-item active">
			<a class="nav-link" href="/instructor/home">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<hr class="sidebar-divider">
		<li class="nav-item">
			<a class="nav-link" href="/logout">
				<i class="fas fa-fw fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
			<a class="nav-link" href="/instructor/questions">
				<i class="fas fa-fw fa-sign-out-alt"></i>
				<span>Questions</span>
			</a>
		</li>

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Nav Item - Alerts -->
				<ul class="navbar-nav ml-auto">

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							 data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small"
										th:text='${userEntity.getFirstName() + " " + userEntity.getLastName()}'></span>
							<i class="fa fa-user-circle"></i>
						</a>
					</li>
				</ul>
			</nav>
			<div class="container-fluid">
				<div class="row">
					<div class="card w-100">
						<div class="card-header">
							<h1 class="h4 text-gray-800">Survey Management for <span
									th:text='${ courseEntity.getName() }'></span></h1>
							<div class="row">
								<div class="col-auto">
									<form method="POST" action="/instructor/survey/publish">
										<input type="hidden" name="courseId" th:value="${courseId}">
										<span
												th:if="${survey.getPublishState()==1}"
												class="d-inline-block"
												tabindex="0"
												data-toggle="tooltip"
												title="Survey already published!"
										>
										<button
												type="submit" class="btn btn-primary ml-2"
												style="pointer-events: none;"
												disabled
										>Publish
										</button>
										</span>
										<button th:if="${survey.getPublishState()==0}"
														type="submit"
														class="btn btn-primary ml-2"
														data-toggle="tooltip"
														data-placement="top"
														title="Publish Survey..."
										>Publish
										</button>
									</form>
								</div>
								<div class="col-auto">
									<form method="POST" action="/instructor/survey/unPublish">
										<input type="hidden" name="courseId" th:value="${courseId}">
										<span
												th:if="${survey.getPublishState()==0}"
												class="d-inline-block"
												tabindex="0"
												data-toggle="tooltip"
												title="Survey not published!"
										>
										<button type="submit"
														class="btn btn-danger ml-2"
														style="pointer-events: none;"
														disabled>Un Publish
										</button>
										</span>
										<button th:if="${survey.getPublishState()==1}"
														type="submit"
														class="btn btn-danger ml-2"
														data-toggle="tooltip"
														data-placement="top"
														title="Un Publish Survey..."
										>Un Publish
										</button>
									</form>
								</div>
							</div>
						</div>
						<div class="card-body">
							<caption><h5>Questions in Survey</h5></caption>
							<table class="table table-responsive w-100 table-bordered">
								<thead class="thead-dark">
								<tr>
									<td>
										Question ID
									</td>
									<td>
										Question Title
									</td>
									<td>
										Question Text
									</td>
									<td>
										Question Type
									</td>
									<td>
										Date Added/Modified
									</td>
									<td>
										Remove from Survey
									</td>
								</tr>
								</thead>
								<tbody>
								<tr th:each="question, iterstat: ${questionList}">
									<td th:text="${question.getId()}"></td>
									<td th:text="${question.getQuestionTitle()}"></td>
									<td th:text="${question.getQuestionText()}"></td>
									<td th:if="${question.getQuestionTypeId()==1}">Numeric</td>
									<td th:if="${question.getQuestionTypeId()==2}">Multiple Choice Multiple Select</td>
									<td th:if="${question.getQuestionTypeId()==3}">Multiple Choice Single Select</td>
									<td th:if="${question.getQuestionTypeId()==4}">Free Text</td>
									<td th:text="${question.getQuestionAddedDate()}"></td>
									<td>
										<form
												method="POST"
												action="/instructor/survey/deleteQuestion"
										>
											<input type="hidden" name="questionId" th:value="${question.getId()}">
											<input type="hidden" name="courseId" th:value="${courseId}">
											<span
													th:if="${survey.getPublishState()==1}"
													class="d-inline-block"
													tabindex="0"
													data-toggle="tooltip"
													data-placement="right"
													title="Please un publish survey to remove!"
											>
											<button
													type="submit" class="btn btn-outline-danger ml-2"
													style="pointer-events: none;"
													disabled
											><i class="fa fa-trash"></i>&nbsp; Remove
											</button>
											</span>
											<button th:if="${survey.getPublishState()==0}"
															type="submit"
															class="btn btn-outline-danger"
															data-toggle="tooltip"
															data-placement="right"
															title="Remove question from survey"
											>
												<i class="fa fa-trash"></i>&nbsp; Remove
											</button>
										</form>
									</td>
								</tr>
								</tbody>
								<tfoot></tfoot>
							</table>

							<div class="row">
								<div class="col-sm-4 pt-2" th:each="question, iterstat:${allQuestionsOfInstructor}">
									<div class="card pt-2">
										<div class="card-header">
											<h5 class="card-title" th:text="${question.getQuestionTitle()}"></h5>
										</div>
										<div class="card-body">
											<div class="card-title" th:text="${question.getQuestionText()}"></div>
											<p>Please Select Rules:</p>
											<form method="POST" action="/instructor/survey/addQuestion">
												<input type="hidden" name="courseId" th:value="${courseEntity.getId()}">
												<input type="hidden" name="questionId" th:value="${question.getId()}">
												<div class="form-check mt-2">
													<input class="form-check-input" type="radio" name="rule"
																 th:id='${"rule_"+question.getQuestionId()+"_similar"}' value="similar" required>
													<label class="form-check-label" th:for='${"rule_"+question.getQuestionId()+"_similar"}'>
														Similar
													</label>
												</div>
												<div class="form-check mt-2">
													<input class="form-check-input" type="radio" name="rule"
																 th:id='${"rule_"+question.getQuestionId()+"_dissimilar"}' value="dissimilar" required>
													<label class="form-check-label" th:for='${"rule_"+question.getQuestionId()+"_dissimilar"}'>
														Dis-similar
													</label>
												</div>
												<div th:if="${question.getQuestionTypeId()==1}">
													<div class="form-row">
														<div class="col-auto">
															<div class="form-check mt-2">
																<input class="form-check-input" type="radio" name="rule"
																			 th:id='${"rule_"+question.getQuestionId()+"_lt"}' value="less"
																			 onclick="window.location.href=window.location.href.split('&')[0]+'&show=lt'"
																			 th:checked="${showLt}"  required>
																<label class="form-check-label" th:for='${"rule_"+question.getQuestionId()+"_lt"}'>
																	Less Than
																</label>
															</div>
														</div>
														<div class="col-4" th:if="${showLt}">
															<input class="form-control" type="number" min="0" name="ruleValue" required>
														</div>
													</div>
													<div class="form-row">
														<div class="col-auto">
															<div class="form-check mt-2">
																<input class="form-check-input" type="radio" name="rule"
																			 th:id='${"rule_"+question.getQuestionId()+"_gt"}' value="greater"
																			 onclick="window.location.href=window.location.href.split('&')[0]+'&show=gt'"
																			 th:checked="${showGt}" required>
																<label class="form-check-label" th:for='${"rule_"+question.getQuestionId()+"_gt"}'>
																	Greater Than
																</label>
															</div>
														</div>
														<div class="col-4" th:if="${showGt}">
															<input class="form-control" type="number" min="0" name="ruleValue" required>
														</div>
													</div>
												</div>
												<span
														th:if="${survey.getPublishState()==1}"
														class="d-inline-block"
														tabindex="0"
														data-toggle="tooltip"
														data-placement="right"
														title="Please un publish survey to add!"
												>
												<button
														type="submit"
														class="btn btn-outline-success mt-3"
														style="pointer-events: none;"
														disabled
												><i class="fa fa-trash"></i>&nbsp; Remove
												</button>
												</span>
												<button th:if="${survey.getPublishState()==0}"
																type="submit"
																class="btn btn-outline-success mt-3"
																data-toggle="tooltip"
																data-placement="right"
																title="Add question to survey"
												>
													<i class="fa fa-plus"></i>&nbsp; Add to Survey
												</button>
											</form>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
</body>
</html>
