<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form action="save" method="post">
    <table>
        <tr>
            <td><label for="banner-id">Banner ID</label></td>
            <td><input id="banner-id" type="text" name="banner_id"></td>
        </tr>
        <tr>
            <td><label for="first-name">First Name</label></td>
            <td><input id="first-name" type="text" name="first_name"></input></td>
        </tr>
        <tr>
            <td><label for="last-name">Last Name</label></td>
            <td><input id="last-name" type="text" name="last_name"></input></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input id="email" type="text" name="email"></input></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input id="password" type="text" name="password"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Sign up!"></input></td>
        </tr>
    </table>
</form>
</body>
</html>